@import "tailwindcss";

/* Untuk Chrome, Safari, dan Opera */
::-webkit-scrollbar{
  display: none;
}

/* Untuk IE, Edgem dan Firefox */
*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: #383530;
  color: #f4f0e6;
}
